<div class="container">
    <div class="header">
        <div class="header-top">
            <div></div>
            <img src="./assets/images/logo.svg" alt="" class="logo">
            <ul class="lang-menu">
                <li>
                    <button (click)="goto_login_page()">
                        Login
                    </button>
                </li>
                <li>
                    <button (click)="goto_register_page()">
                        New Account?
                    </button>
                </li>
            </ul>
        </div>
        <ul class="header-bottom">
            <li>
                <a style="cursor: pointer;" (click)="goto_home_page()"><span>Главная</span>
                    <img src="./assets/icons/down.svg" alt="">
                </a>
            </li>
            <li>
                <a style="cursor: pointer;" (click)="goto_direct_page()">Маршруты</a>
            </li>
            <li>
                <a style="cursor: pointer;" (click)="goto_news_page()"><span>Новости</span>
                    <img src="./assets/icons/down.svg" alt="">
                </a>
            </li>
            <li>
                <a style="cursor: pointer;" (click)="goto_about_us_page()">О нас</a>
            </li>
        </ul>
    </div>
</div>

<div class="bracpoints">
    <div class="container">
        <div class="bracpoints-line">
            <a style="cursor: pointer;" (click)="goto_home_page()">Главная</a>
            <img src="./assets/images/sl.png" alt="">
            <p>О НАС</p>
        </div>
    </div>
</div>



<div class="container mt-60">
    <div class="small-title ttu">
        О проекте Город говорит
    </div>
    <div class="text mt-20 mb-40">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
        ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
        anim id est laborum.

    </div>

    <div class="about-us">
        <div class="d-flex">
            <img src="./assets/icons/tg.svg" alt="">
            <img src="./assets/icons/wk.svg" alt="">
            <img src="./assets/icons/mail.svg" alt="">
        </div>
        <button class="btn btn-yellow">
            Поддержать
        </button>
    </div>
</div>



<div class="container mt-60">
    <div class="small-title mb-100">
        <div class="pr-40">
            Команда
        </div>
        <img src="./assets/icons/frame.svg" alt="">
    </div>

    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-6 mb-40">
                    <div class="about-us-img">
                        <img src="./assets/images/aboutus.png" alt="">
                    </div>
                </div>
                <div class="col-6">
                    <div class="about-us-card">
                        <div class="about-us-title">
                            Овчинников С.А.
                        </div>

                        <div class="text mb-20 mt-20">
                            Должность: СЕО проекта
                        </div>
                        <div class="text mb-30">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit, sed
                        </div>
                        <img src="./assets/icons/mail.svg" alt="" class="mt-100 cp">
                    </div>
                </div>
                <div class="col-6 mb-40">
                    <div class="about-us-img">
                        <img src="./assets/images/aboutus.png" alt="">
                    </div>
                </div>
                <div class="col-6">
                    <div class="about-us-card">
                        <div class="about-us-title">
                            Овчинников С.А.
                        </div>

                        <div class="text mb-20 mt-20">
                            Должность: СЕО проекта
                        </div>
                        <div class="text mb-30">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit, sed
                        </div>
                        <img src="./assets/icons/mail.svg" alt="" class="mt-100 cp">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-6 mb-40">
                    <div class="about-us-img">
                        <img src="./assets/images/aboutus.png" alt="">
                    </div>
                </div>
                <div class="col-6">
                    <div class="about-us-card">
                        <div class="about-us-title">
                            Овчинников С.А.
                        </div>

                        <div class="text mb-20 mt-20">
                            Должность: СЕО проекта
                        </div>
                        <div class="text mb-30">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit, sed
                        </div>
                        <img src="./assets/icons/mail.svg" alt="" class="mt-100 cp">
                    </div>
                </div>
                <div class="col-6 mb-40">
                    <div class="about-us-img">
                        <img src="./assets/images/aboutus.png" alt="">
                    </div>
                </div>
                <div class="col-6">
                    <div class="about-us-card">
                        <div class="about-us-title">
                            Овчинников С.А.
                        </div>

                        <div class="text mb-20 mt-20">
                            Должность: СЕО проекта
                        </div>
                        <div class="text mb-30">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit, sed
                        </div>
                        <img src="./assets/icons/mail.svg" alt="" class="mt-100 cp">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container mt-60">
    <div class="small-title mb-100">
        <div class="pr-40 ttu">
            наши партнеры
        </div>
        <img src="./assets/icons/frame.svg" alt="">
    </div>
    <img src="./assets/images/brands.svg" alt="" class="about-us-bottom">
</div>

<div class="footer">
    <img src="./assets/icons/footer-left.svg" alt="" class="footer-left-img">
    <img src="./assets/icons/footer-top.svg" alt="" class="footer-top">
    <img src="./assets/icons/footer-middle.svg" alt="" class="footer-middle">
    <img src="./assets/icons/footer-bottom.svg" alt="" class="footer-img">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="footer-left">
                    <img src="./assets/images/white-logo.svg" alt="">
                    <div class="footer-text">
                        Онлайн-архив и исследовательский проект, посвященный уличной культуре Архангельска
                    </div>
                    <button class="btn btn-yellow">
                        Задонатить на проект
                    </button>
                    <div class="footer-media">
                        <img src="./assets/icons/tg.svg" alt="">
                        <img src="./assets/icons/wk.svg" alt="">
                        <img src="./assets/icons/mail.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-3">
                        <div class="box-right">
                            <div class="footer-title">
                                Уличное искусство
                            </div>
                            <div class="footer-text">
                                Архив работ
                            </div>
                            <div class="footer-text">
                                Художники
                            </div>
                            <div class="footer-text">
                                Видео
                            </div>
                            <div class="footer-text">
                                Исследование
                            </div>
                            <div class="footer-text">
                                Личные архивы
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="box-right">
                            <div class="footer-title">
                                Новости
                            </div>
                            <div class="footer-text">
                                Новости
                            </div>
                            <div class="footer-text">
                                Афиша
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="box-right">
                            <div class="footer-title">
                                О нас
                            </div>

                        </div>
                    </div>
                    <div class="col-3">
                        <div class="box-right">
                            <div class="footer-title">
                                Маршруты
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-text">
                2022©CitySays. Все права защищены.
            </div>
            <div class="footer-text">
                Политика конфиденциальности
            </div>
        </div>
    </div>
</div>