<div class="container">
    <div class="header">
        <div class="header-top">
            <div></div>
            <img src="./assets/images/logo.svg" alt="" class="logo">
            <ul class="lang-menu">
                <li>
                    <button (click)="goto_login_page()">
                        Login
                    </button>
                </li>
                <li>
                    <button (click)="goto_register_page()">
                        New Account?
                    </button>
                </li>
            </ul>
        </div>
        <ul class="header-bottom">
            <li>
                <a style="cursor: pointer;" (click)="goto_home_page()"><span>Главная</span>
                    <img src="./assets/icons/down.svg" alt="">
                </a>
            </li>
            <li>
                <a style="cursor: pointer;" (click)="goto_direct_page()">Маршруты</a>
            </li>
            <li>
                <a style="cursor: pointer;" (click)="goto_news_page()"><span>Новости</span>
                    <img src="./assets/icons/down.svg" alt="">
                </a>
            </li>
            <li>
                <a style="cursor: pointer;" (click)="goto_about_us_page()">О нас</a>
            </li>
        </ul>
    </div>
</div>

<div class="bracpoints">
    <div class="container">
        <div class="bracpoints-line">
            <a style="cursor: pointer;" (click)="goto_home_page()">Главная</a>
            <img src="./assets/images/sl.png" alt="">
            <p>Архив уличного искусства</p>
        </div>
    </div>
</div>



<div class="container">
    <div class="row mb-100 mt-80">
        <div class="col-5">
            <img src="./assets/images/home.png" alt="">
        </div>
        <div class="col-7">
            <div class="home-box-bottom about">
                <div class="home-title">
                    Цифровая трансформация
                </div>
                <div class="home-text">
                    Мурал на стене Дома Молодежи в рамках фестиваля Граффити 2.0 (пр. Ломоносова, д.269, со стороны
                    скейтпарка).
                </div>
                <div class="home-text mt-30">
                    Мурал на стене Дома Молодежи в рамках фестиваля Граффити 2.0 (пр. Ломоносова, д.269, со стороны
                    скейтпарка) Мурал на стене Дома Молодежи в рамках 2.0 (пр. Ломоносова, д.269, со стороны
                    скейтпарка).
                </div>
            </div>
            <div class="about-box">
                <div class="about-title">
                    Автор:
                </div>
                <div class="about-text">
                    Schew, Grego
                </div>
            </div>
            <div class="about-box">
                <div class="about-title">
                    Год:
                </div>
                <div class="about-text">
                    2002
                </div>
            </div>
            <div class="about-box">
                <div class="about-title">
                    Вид искусства:
                </div>
                <div class="about-text">
                    Стрит-арт
                </div>
            </div>
            <div class="about-box">
                <div class="about-title">
                    Город:
                </div>
                <div class="about-text">
                    Чикаго
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container">
    <div class="small-title mb-60">
        <div class="pr-40 ttu">
            видео
        </div>
        <img src="./assets/icons/frame.svg" alt="">
    </div>
    <div class="row">
        <div class="col-6">
            <div class="hm">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Idlll0N3EVk?si=olcWKhN92wBGlXwd"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-6">
            <div class="hm">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/vu4TUHOP4fA?si=-SbqnIU0OJ2qF33K"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="d-center mb-100 mt-50">
        <button class="btn">
            Все прогулки
        </button>
    </div>
</div>
<div class="container">
    <div class="small-title mb-60">
        <div class="pr-40 ttu">
            ГАЛЕРЕЯ
        </div>
        <img src="./assets/icons/frame.svg" alt="">
    </div>
    <div class="row">
        <div class="col-4">
            <div class="hm">
                <img src="./assets/images/home.png" alt="">
            </div>
        </div>
        <div class="col-4">
            <div class="hm">
                <img src="./assets/images/home2.png" alt="">
            </div>
        </div>
        <div class="col-4">
            <div class="hm">
                <img src="./assets/images/home3.png" alt="">
            </div>
        </div>
        <div class="col-4">
            <div class="hm">
                <img src="./assets/images/home.png" alt="">
            </div>
        </div>
        <div class="col-4">
            <div class="hm">
                <img src="./assets/images/home2.png" alt="">
            </div>
        </div>
        <div class="col-4">
            <div class="hm">
                <img src="./assets/images/home3.png" alt="">
            </div>
        </div>
    </div>
    <div class="d-center mb-100 mt-50">
        <button class="btn">
            Все прогулки
        </button>
    </div>
</div>

<div class="footer">
    <img src="./assets/icons/footer-left.svg" alt="" class="footer-left-img">
    <img src="./assets/icons/footer-top.svg" alt="" class="footer-top">
    <img src="./assets/icons/footer-middle.svg" alt="" class="footer-middle">
    <img src="./assets/icons/footer-bottom.svg" alt="" class="footer-img">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="footer-left">
                    <img src="./assets/images/white-logo.svg" alt="">
                    <div class="footer-text">
                        Онлайн-архив и исследовательский проект, посвященный уличной культуре Архангельска
                    </div>
                    <button class="btn btn-yellow">
                        Задонатить на проект
                    </button>
                    <div class="footer-media">
                        <img src="./assets/icons/tg.svg" alt="">
                        <img src="./assets/icons/wk.svg" alt="">
                        <img src="./assets/icons/mail.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-3">
                        <div class="box-right">
                            <div class="footer-title">
                                Уличное искусство
                            </div>
                            <div class="footer-text">
                                Архив работ
                            </div>
                            <div class="footer-text">
                                Художники
                            </div>
                            <div class="footer-text">
                                Видео
                            </div>
                            <div class="footer-text">
                                Исследование
                            </div>
                            <div class="footer-text">
                                Личные архивы
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="box-right">
                            <div class="footer-title">
                                Новости
                            </div>
                            <div class="footer-text">
                                Новости
                            </div>
                            <div class="footer-text">
                                Афиша
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="box-right">
                            <div class="footer-title">
                                О нас
                            </div>

                        </div>
                    </div>
                    <div class="col-3">
                        <div class="box-right">
                            <div class="footer-title">
                                Маршруты
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-text">
                2022©CitySays. Все права защищены.
            </div>
            <div class="footer-text">
                Политика конфиденциальности
            </div>
        </div>
    </div>
</div>