<div class="container">
    <div class="header">
        <div class="header-top">
            <div></div>
            <img src="./assets/images/logo.svg" alt="" class="logo">
            <ul class="lang-menu">
                <li>
                    <button (click)="goto_login_page()">
                        Login
                    </button>
                </li>
                <li>
                    <button (click)="goto_register_page()">
                        New Account?
                    </button>
                </li>
            </ul>
        </div>
        <ul class="header-bottom">
            <li>
                <a class="bhand" (click)="goto_home_page()"><span>Главная</span>
                    <img src="./assets/icons/down.svg" alt="">
                </a>
            </li>
            <li>
                <a class="bhand" (click)="goto_direct_page()">Маршруты</a>
            </li>
            <li>
                <a class="bhand" (click)="goto_news_page()"><span>Новости</span>
                    <img src="./assets/icons/down.svg" alt="">
                </a>
            </li>
            <li>
                <a class="bhand" (click)="goto_about_us_page()">О нас</a>
            </li>
        </ul>
    </div>
</div>

<div class="bracpoints">
    <div class="container">
        <div class="bracpoints-line">
            <a class="bhand" (click)="goto_home_page()">Главная</a>
            <img src="./assets/images/sl.png" alt="">
            <p>Новости</p>
        </div>
    </div>
</div>



<div class="container mt-60">
    <div class="small-title mb-100">
        <div class="pr-40">
            Архив работ
        </div>
        <img src="./assets/icons/frame.svg" alt="">
    </div>

    <div class="row mb-100">
        <a href="about.html" class="col-4">
            <div class="home-box">
                <img src="./assets/images/home.png" alt="">
                <div class="home-box-bottom">
                    <div class="home-title">
                        2021 Объект 32 ФАН
                    </div>
                    <div class="home-text">
                        Наше преимущество — утонченный стиль, простота в эксплуатации, долговечность. Практично и со
                        вкусом строим экономичные в эксплуатации системы прудов на всю жизнь.
                    </div>
                </div>
            </div>
        </a>
        <a href="about.html" class="col-4">
            <div class="home-box">
                <img src="./assets/images/home2.png" alt="">
                <div class="home-box-bottom">
                    <div class="home-title">
                        2021 Объект 32 ФАН
                    </div>
                    <div class="home-text">
                        Наше преимущество — утонченный стиль, простота в эксплуатации, долговечность. Практично и со
                        вкусом строим экономичные в эксплуатации системы прудов на всю жизнь.
                    </div>
                </div>

            </div>
        </a>
        <a href="about.html" class="col-4">
            <div class="home-box">
                <img src="./assets/images/home3.png" alt="">
                <div class="home-box-bottom">
                    <div class="home-title">
                        2021 Объект 32 ФАН
                    </div>
                    <div class="home-text">
                        Наше преимущество — утонченный стиль, простота в эксплуатации, долговечность. Практично и со
                        вкусом строим экономичные в эксплуатации системы прудов на всю жизнь.
                    </div>
                </div>
            </div>
        </a>
        <a href="about.html" class="col-4">
            <div class="home-box">
                <img src="./assets/images/home.png" alt="">
                <div class="home-box-bottom">
                    <div class="home-title">
                        2021 Объект 32 ФАН
                    </div>
                    <div class="home-text">
                        Наше преимущество — утонченный стиль, простота в эксплуатации, долговечность. Практично и со
                        вкусом строим экономичные в эксплуатации системы прудов на всю жизнь.
                    </div>
                </div>
            </div>
        </a>
        <a href="about.html" class="col-4">
            <div class="home-box">
                <img src="./assets/images/home2.png" alt="">
                <div class="home-box-bottom">
                    <div class="home-title">
                        2021 Объект 32 ФАН
                    </div>
                    <div class="home-text">
                        Наше преимущество — утонченный стиль, простота в эксплуатации, долговечность. Практично и со
                        вкусом строим экономичные в эксплуатации системы прудов на всю жизнь.
                    </div>
                </div>
            </div>
        </a>
        <a href="about.html" class="col-4">
            <div class="home-box">
                <img src="./assets/images/home3.png" alt="">
                <div class="home-box-bottom">
                    <div class="home-title">
                        2021 Объект 32 ФАН
                    </div>
                    <div class="home-text">
                        Наше преимущество — утонченный стиль, простота в эксплуатации, долговечность. Практично и со
                        вкусом строим экономичные в эксплуатации системы прудов на всю жизнь.
                    </div>
                </div>
            </div>
        </a>
    </div>

</div>

<div class="container mb-100">
    <img src="./assets/images/frame.svg" alt="" class="cp">
</div>

<div class="footer">
    <img src="./assets/icons/footer-left.svg" alt="" class="footer-left-img">
    <img src="./assets/icons/footer-top.svg" alt="" class="footer-top">
    <img src="./assets/icons/footer-middle.svg" alt="" class="footer-middle">
    <img src="./assets/icons/footer-bottom.svg" alt="" class="footer-img">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="footer-left">
                    <img src="./assets/images/white-logo.svg" alt="">
                    <div class="footer-text">
                        Онлайн-архив и исследовательский проект, посвященный уличной культуре Архангельска
                    </div>
                    <button class="btn btn-yellow">
                        Задонатить на проект
                    </button>
                    <div class="footer-media">
                        <img src="./assets/icons/tg.svg" alt="">
                        <img src="./assets/icons/wk.svg" alt="">
                        <img src="./assets/icons/mail.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-3">
                        <div class="box-right">
                            <div class="footer-title">
                                Уличное искусство
                            </div>
                            <div class="footer-text">
                                Архив работ
                            </div>
                            <div class="footer-text">
                                Художники
                            </div>
                            <div class="footer-text">
                                Видео
                            </div>
                            <div class="footer-text">
                                Исследование
                            </div>
                            <div class="footer-text">
                                Личные архивы
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="box-right">
                            <div class="footer-title">
                                Новости
                            </div>
                            <div class="footer-text">
                                Новости
                            </div>
                            <div class="footer-text">
                                Афиша
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="box-right">
                            <div class="footer-title">
                                О нас
                            </div>

                        </div>
                    </div>
                    <div class="col-3">
                        <div class="box-right">
                            <div class="footer-title">
                                Маршруты
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-text">
                2022©CitySays. Все права защищены.
            </div>
            <div class="footer-text">
                Политика конфиденциальности
            </div>
        </div>
    </div>
</div>